/* PAGE CSS DEFAULTS
-------------------------------------------------- */
html, body{
  height: 100%;
  background-color: #ade8f1 !important;
}

form {
  display: inline-block;
}

label{
  color: steelblue !important;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.container {
  flex-wrap: wrap;
  padding: 0 !important;
}

.carouselRow{
  width: 50%;
  padding: 0;
  margin-left: 0 !important;
  margin-right: 0 !important;
  margin-top: 10vh !important; 
}

.input-group .form-control {
  width: 100% !important;
}

.input-group{
  flex-wrap: nowrap !important;
}

/*.card-columns {
  display: flex;
  flex-direction: row !important;
}*/

/* PAGE BREAKS AND DEFAULTS MODIFICATION FOR RESPONSIVENESS
-------------------------------------------------- */
@media only screen and (max-width: 576px) { 
  .App{
    padding-top: 4rem;
  }
}

@media only screen and (min-width: 577px) and (max-width: 768px) {
  .App{
    padding-top: 0rem;
  }
}

@media only screen and (min-width: 769px) and (max-width: 992px) {
  .App{
    padding-top: 0rem;
  }
}

@media only screen and (min-width: 993px) {
  .App{
    padding-top: 3rem;
  }
}