.card-header {
    background: #93b4d7; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right top, #df8d8d, #ee2929, #f6a6a6, #c71010);
    background: -moz-linear-gradient(to right top, #df8d8d, #ee2929, #f6a6a6, #c71010);
    background: -o-linear-gradient(to right top, #df8d8d, #ee2929, #f6a6a6, #c71010);
    background: linear-gradient(to right top, #df8d8d, #ee2929, #f6a6a6, #c71010); /* Chrome 10-25, Safari 5.1-6 */
}

table {
    width: 100%;
    padding: 0;
}
  
th {
    background-color: #c52424;
    color: white;
}

tr:nth-child(even) {
    background-color: #e9e2e2;
    color: #f2f2f2;
}

td {
    color: #661f04;
}

  
